@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {overflow-y: hidden;}

.hero {
  background: linear-gradient(rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)),
    url(img/Rectangle\ 93.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: contain;
}

.hero ul li {
  list-style: none;
}

.hero ul {
  display: flex;
  justify-content: space-between;
}

.hero #come {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

h1,
h2,
p {
  color: #fff;
}

#come h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
}

#come h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  padding: 10px 0;
  /* letter-spacing: 0.18rem; */
}

#come p {
  font-size: 20px;
  font-weight: 700;
  line-height: 30.57px;
}

.hero #newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
padding-bottom: 60px;
}

.hero #newsletter .message p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.hero #newsletter input {
  width: 378px;
  padding: 13px;
  border-radius: 20px;
  margin: 10px;
  font-size: 13px;
  border: none;
}

.hero #newsletter button {
  background: #0082ad;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  transform: translateX(-130%);
  padding: 4px 10px;
  border: none;
  border-radius: 20px;
}

.hero #newsletter #links p {
    font-weight: 700;
    font-size: 20px;
}


.hero #newsletter #links ul li{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 15px;
    background: #fff;
    text-align: center;
    margin: 0 7px;
    opacity: 1;
}

.hero #newsletter #links ul {
    padding: 0;
}

.hero #newsletter button:hover {
    background: blue;
}

.hero #newsletter #links ul li:hover{
    opacity: .9;
}

/* Media Query */

@media (max-width: 840px){
    .hero #newsletter {
        padding-top: 80px;
    }

    .hero #newsletter button {
        transform: translateX(0%);
        transform: translateY(-170%);
        margin-left: 290px;
    }

    .hero #newsletter {
        flex-wrap: nowrap;
        padding-bottom: 0px;
    }

    #come h2 {
        font-size: 35px;
        font-weight: 700;
        text-align: center;
        line-height: 40px;
    }

}

@media (max-width: 477px) {
    #come h1 {
        font-weight: 600;
        font-size: 47px;
        line-height: 30px;
    }

    #come h2 {
        font-size: 45px;
        font-weight: 600;
        line-height: 40px;
    }

    #come p {
        font-size: 15px;
        font-weight: 700;
        line-height: 30.57px;
    }

    .hero #newsletter #links p {
        font-weight: 600;
        font-size: 15px;
        padding-top: 0;
    }

    .message {
        width: 100%;
    }

    .hero #newsletter {
        padding-top: 0px;
        margin-bottom: 0;
        flex-wrap: wrap;
    }

    .hero #newsletter input {
        width: 90%;
        padding: 13px;
        margin: 7px;
    }

    .hero #newsletter button {
        transform: translateX(0%);
        transform: translateY(-160%);
        margin-left: 218px;
    }
}
